/*CSS styles for web design*/

/* gets rid of scroll bar */
body {
  overflow: hidden;
}
/* player styles */
.player {
  height: 25px;
  width: 25px;
  background-color: green;
}
/* grid styles */
.grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: minmax(190px, auto);
}

.grid div{
  border-style: solid;
}

.grid div:hover {
  background-color: yellow;
}

.dining div:hover, .kitchen div:hover, .inventory div:hover, .oven div:hover {
  background-color: pink;
}

.notes {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.dining {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 50px;
  grid-gap: 1em;
  padding: 1em;
  padding-top: 5em;
}

.inventory {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
  grid-auto-rows: 50px;

}
/*MOVE THIS SOMEWHERE ELSE */ 
#hb, #hc, #hcf {
  visibility: hidden;
}

.bread, .cookies, .coffee, .table, .ktchut, .ovenbt{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.oven {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  padding: 1em;
  grid-gap: 5em;
  padding-top: 40%;
}

.kitchen {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
  grid-auto-rows: 50px;
}
